# vim: set ft=ruby:

Vagrant.configure("2") do |config|
  config.vm.box = "vm"
  config.vm.hostname = config.vm.box

  config.ssh.forward_agent    = true
  config.ssh.private_key_path = "packer/keys/vm"

  config.vm.network "forwarded_port", guest: 8080, host: 8080

  config.vm.provision "ansible_local" do |ansible|
    ansible.compatibility_mode = "2.0"
    ansible.playbook = "playbooks/all.yml"
  end
end

